* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "authentic_sans90", sans-serif;
  color: rgb(184, 184, 255);
  cursor: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  animation: pop 2s ease-in;
  background-color: rgb(32, 33, 33);
}
.isobare {
  font-family: "isobareregular", Arial, Helvetica, sans-serif;
}
img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.3;
}

.circle {
  pointer-events: none;
  fill: rgb(238, 96, 85);
  position: fixed;
  top: -50;
  left: -50;
  mix-blend-mode: difference;
  z-index: 150;
}

.big {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

.row1 {
  margin-bottom: 50px;
}

.heading {
  width: 100vw;
}

.name {
  font-size: 140px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(233, 79, 55);
}
.occu {
  font-size: 70px;
  color: rgb(147, 129, 255);
}

.text {
  margin-right: 50px;
  font-size: 35px;
  position: fixed;
  top: 25px;
  left: 50px;
  display: grid;
  gap: 30px;
}

footer {
  font-size: 12.5px;
  position: fixed;
  bottom: 10px;
  left: 50px;
}
canvas {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  span {
      color: rgb(233, 79, 55);
  }
}

@media screen and (max-width: 1300px) {
  .name {
    font-size: 75px;
    stroke-width: 3px;
  }
  .occu {
    font-size: 50px;
  }
  .row {
    font-size: 31px;
  }
  .text {
    margin-right: 50px;
  }
}

@media screen and (max-width: 820px) {
  #mouse {
    visibility: hidden;
  }
  .name {
    font-size: 64px;
  }
  .row {
    font-size: 32px;
  }
  .text,
  footer {
    left: 20px;
  }
  .text {
    top: 0;
    margin-right: 20px;
  }
}
@media screen and (max-width: 580px) {
  .row1 {
    margin-bottom: 20px;
  }
  .name {
    font-size: 60px;
    stroke-width: 1.5px;
  }
  .row {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .row {
    font-size: 22px;
  }
  .text {
    gap: 10px;
  }
}
@media screen and (max-width: 300px) {
  .name {
    font-size: 40px;
  }
  .occu {
    font-size: 30px;
  }
  .row {
    font-size: 18px;
  }
  .text {
    gap: 10px;
  }
}
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
