* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "authentic_sans90", sans-serif;
  color: rgb(255, 255, 255);
  cursor: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  animation: pop 2s ease-in;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.circle {
  pointer-events: none;
  fill: rgb(120, 187, 239);
  position: fixed;
  top: -50;
  left: -50;
  mix-blend-mode: difference;
  z-index: 150;
}

.big {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

.appear {
  animation: pop 0.5s cubic-bezier(0.27, 1.25, 0.76, 0.36);
}
.inner-txt {
  fill: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}

.row1 {
  margin-bottom: 60px;
}

.heading {
  width: 100vw;
  height: 230px;
  stroke: rgb(244, 234, 226);
}

.headingSmall {
  position: absolute;
  visibility: hidden;
  width: 100vw;
  height: 270px;
  stroke: rgb(244, 234, 226);
}

.name {
  font-family: "plantasia_myrtilloregular", sans-serif;
  mix-blend-mode: difference;
  dominant-baseline: middle;
  font-size: 140px;
  width: auto;
  height: auto;
}

.occu {
  font-family: "plantasia_myrtilloregular", sans-serif;
  dominant-baseline: hanging;
  font-size: 70px;
  width: auto;
  height: auto;
}

.text {
  margin-right: 50px;
  font-size: 35px;
  position: absolute;
  top: 25px;
  left: 50px;
  display: grid;
  gap: 20px;
}
.text-bg {
  background-color: rgba(138, 137, 90, .7);
  max-width: max-content;
  padding: 5px;
}

footer {
  mix-blend-mode: difference;
  font-size: 12.5px;
  position: absolute;
  bottom: 10px;
  left: 50px;
}

@media screen and (max-width: 1300px) {
  .name {
    font-size: 75px;
  }
  .occu {
    font-size: 40px;
    dominant-baseline: middle;
  }
  .row {
    font-size: 31px;
  }
  .text {
    margin-right: 50px;
  }
}
@media screen and (max-width: 920px) {
  .text-bg {
    max-width: 100%;
  }
}
@media screen and (max-width: 820px) {
  #mouse {
    visibility: hidden;
  }
  .name {
    font-size: 56px;
  }
  .occu {
    font-size: 44px;
  }
  .row {
    font-size: 28px;
  }
  .text,
  footer {
    left: 20px;
  }
  .text {
    top: 0;
    margin-right: 20px;
  }
}
@media screen and (max-width: 580px) {
  .row1 {
    margin-bottom: 20px;
  }
  .heading {
    position: absolute;
    visibility: hidden;
  }
  .headingSmall {
    position: static;
    visibility: visible;
  }
  .name {
    font-size: 50px;
  }
  .occu {
    font-size: 50px;
    dominant-baseline: hanging;
  }
  .row {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .name {
    font-size: 50px;
  }
  .occu {
    font-size: 50px;
  }
  .row {
    font-size: 22px;
  }
  .text {
    gap: 10px;
  }
}
@media screen and (max-width: 300px) {
  .name {
    font-size: 40px;
    dominant-baseline: hanging;
  }
  .occu {
    font-size: 40px;
  }
  .row {
    font-size: 18px;
  }
  .text {
    gap: 10px;
  }
}
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
