* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "authentic_sans90", sans-serif;
  color: rgb(255, 255, 255);
  cursor: none;
}

img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.circle {
  pointer-events: none;
  fill: rgb(120, 187, 239);
  position: fixed;
  top: -50;
  left: -50;
  mix-blend-mode: difference;
  z-index: 150;
}

.big {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%);
}

.headSVG {
  width: 1000px;
  height: 250px;
  stroke: rgb(244, 234, 226);
}

.name {
  font-family: "plantasia_myrtilloregular", sans-serif;
  mix-blend-mode: difference;
  font-size: 100px;
  width: auto;
  height: auto;
}

.occu {
  font-family: "plantasia_myrtilloregular", sans-serif;
  font-size: 40px;
  width: auto;
  height: auto;
}

.text {
  font-size: 35px;
  position: absolute;
  top: 25px;
  left: 50px;
  display: grid;
  gap: 20px;
}

footer {
  font-size: 12.5px;
  position: absolute;
  bottom: 5px;
  right: 8px;
}


@media screen and (max-width: 900px) {
  .name {
    font-size: 33px;
  }
  .occu {
    font-size: 26px;
  }

  .text {
    top: 0;
    left: 15px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
  }
}