@font-face {
  font-family: "authentic_sans90";
  src: url("authenticsans-90-webfont.woff2") format("woff2"),
    url("authenticsans-90-webfont.woff") format("woff"),
    url("authenticsans-90-webfont.svg#authentic_sans90") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "isobareregular";
  src: url("isobare-regular-webfont.woff2") format("woff2"),
    url("isobare-regular-webfont.woff") format("woff"),
    url("isobare-regular-webfont.svg#isobareregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
